[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
metric-learn = "*"
numpy = "*"
jupyter = "*"
matplotlib = "*"
spyder = "*"
spyder-kernels = "*"
protobuf = "*"

[dev-packages]

[requires]
python_version = "3.7"
